# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.json
*.env
*.sql

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#will add if there any file i need to ignore
